 <nav class="navbar navbar-expand-lg" style="opacity: 1; background-color: black; opacity: 0.8;"> <!-- background-color: rgb(183, 107, 50); -->
  <div class="container">
    <a class="navbar-brand text-white" href="#" style="font-family: Audiowide, sans-serif !important;">
      <img class="circular_image" src="../../../assets/logo.png" height="50" width="50" style="border: #e10175 solid 1px; border-radius: 90%; margin-top: -5px;" alt="">
      Imperial Nuptials</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isLoggedin">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#" routerLink="matches">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" routerLink="inbox">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="!isLoggedin">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Help</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-matchmaking nav-item dropdown" *ngIf="isLoggedin">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hi , {{userName}}
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="#" routerLink="account/profile">Profile</a></li>
            <li><a class="dropdown-item" href="#" routerLink="account/settings">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </button>
        <button class="btn btn-outline-matchmaking" *ngIf="!isLoggedin" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Login
        </button>
      </div>
    </div>
  </div>
</nav>