<div class="container-fluid" style="margin: 0px; padding: 10px;">
    <div class="container text-center rounded" style="margin-bottom: 100px;"> <!-- style="background-color: aliceblue;"-->
        <div class="row m-2 d-flex justify-content-center">
            <iframe data-creative-load-listener="" id="200_276_express_html_inpage_0.if" src="https://s0.2mdn.net/sadbundle/4514696276129991917/cs2301g0005_005_633245_in_cs_co_fy23q3w5_oa_tributo-xps13-plus_728x90_js/cs2301g0005_005_633245_in_cs_co_fy23q3w5_oa_tributo-xps13-plus_728x90_js.html" 
            width="728" height="90" frameborder="0" scrolling="no" allowfullscreen="true" style="width: 728px; height: 90px;"></iframe>
        </div>
        <div class="row text-dark">
            <div class="col-sm-3">
                <div class="card">
                    <div class="row">
                        <!-- Upload Pic Module -->
                        <app-uploadavtar></app-uploadavtar>
                        <b class="card-header">{{username}}</b>
                    </div>
                    <div class="row text-center m-2 mt-4">
                        <small style="font-weight: 400;">Profile ID</small>
                        <b>{{uid}}</b>
                    </div>
                    <hr>
                    <div class="row text-center m-2">
                        <small style="font-weight: 400;">Account Type</small>
                        <b>{{AccountType}} &nbsp; <a href="#">[Upgrade]</a></b>
                    </div>
                    <hr>
                    <div class="row m-2 mb-4">
                        <small style="font-weight: 400;">Email Id. <b>{{emailVerification}}</b> &nbsp;
                            <i class="bi" [ngClass]="{'bi-shield-fill-check text-success': this.userDetails.isEmailVerified,'bi-shield-fill-x text-warning': !this.userDetails.isEmailVerified}"></i>
                        </small>
                        <small style="font-weight: 400;">Mobile No. <b>{{mobVerification}}</b> &nbsp;
                            <i class="bi" [ngClass]="{'bi-shield-fill-check text-success': this.userDetails.isMobileVerified,'bi-shield-fill-x text-warning': !this.userDetails.isMobileVerified}"></i>
                        </small>
                        <b><a href="#">[Verify]</a></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <app-post></app-post>
                </div>
            </div>
        </div>
    </div>
</div>
