<!-- <div class="card" style="z-index: 2;"> -->
    <div class="card-body text-center">
        <div class="col-sm">
            <img src={{avtarUrl}} height="160" width="160" alt="" style="border: black solid 1px; border-radius: 55%;">
        </div>
        <div class="col-sm up">
            <input type="file" id="file" class="file">
            <label for="file">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#a12073" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </label>
        </div>
    </div>
<!-- </div> -->
  


