
.up {
  margin-top: -20px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
  
  input:hover + label,
  input:focus + label {
    transform: scale(1.02);
    cursor: pointer;
  }

