<div class="container-fluid" style="margin: 0px 0px 0px 0px !important; padding: 0px 0px 0px 0px !important; z-index: -99;">
    <div class="jumbotron">
      <img src="../../assets/3-c-1_s.png" alt="...">
    </div>
</div>

<div class="container text-center">
  <div class="card col-sm-12" style="margin-top: -220px ; opacity: 0.8; background-color: black; color: aliceblue;">
    <div class="row col-sm-12">
      <h3 class="mt-4 mb-4" style="opacity: 1;">Trusted Imperial Matrimony & Matchmaking Service</h3>
    </div>
    <div class="row col-sm-12 m-2 mb-4">
        <div class="col-sm-2">
          <label for="">Looking...</label>
          <select class="form-control" name="" id="">
            <option value="" selected disabled> -- Select Option -- </option>
            <option value="">Man</option>
            <option value="">Woman</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label for="">Date of Birth</label>
          <input class="form-control" type="date">
        </div>
        <div class="col-sm-4">
          <label for="">Email</label>
          <input type="email" name="" id="" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="">Find For</label>
          <select class="form-control" name="" id="">
            <option value="">Self</option>
            <option value="">Client</option>
          </select>
        </div>
        <div class="col-sm-2 mb-3">
          <label style="margin-bottom: 45px" for=""></label>
          <button class="btn btn-outline-matchmaking">Let's Find</button>
        </div>
    </div>
  </div>
</div>

<div class="container text-center mb-5">
  <div class="row col-sm-12">
    <div class="row mt-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 match-header">
        <h2>Find your Special Someone...</h2>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row col-sm-11 mt-5 d-flex juctify-content-between">
      <div class="col-sm-1"></div>
      <div class="col-sm-3 py-2 card mb-3">
        <div class="row d-flex justify-content-center">
          <div class="card card-p bg-matchmaking">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clipboard2-heart" viewBox="0 0 16 16">
              <path d="M10.058.501a.501.501 0 0 0-.5-.501h-2.98c-.276 0-.5.225-.5.501A.499.499 0 0 1 5.582 1a.497.497 0 0 0-.497.497V2a.5.5 0 0 0 .5.5h4.968a.5.5 0 0 0 .5-.5v-.503A.497.497 0 0 0 10.555 1a.499.499 0 0 1-.497-.499Z"/>
              <path d="M3.605 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5h-.5a.5.5 0 0 1 0-1h.5a1.5 1.5 0 0 1 1.5 1.5v12a1.5 1.5 0 0 1-1.5 1.5h-9a1.5 1.5 0 0 1-1.5-1.5v-12a1.5 1.5 0 0 1 1.5-1.5h.5a.5.5 0 0 1 0 1h-.5Z"/>
              <path d="M8.068 6.482c1.656-1.673 5.795 1.254 0 5.018-5.795-3.764-1.656-6.69 0-5.018Z"/>
            </svg>
          </div>
        </div>
        <div class="row mt-4">
          <h4><b>Sign Up</b></h4>
          <small><b>Register for free & put up your Matrimony Profile Connect</b></small>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 py-2 card mb-3">
        <div class="row d-flex justify-content-center">
          <div class="card card-p bg-matchmaking">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
          </div>
        </div>
        <div class="row mt-4">
          <h4><b>Connect</b></h4>
          <small><b>Select & Connect with Matches you like</b></small>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 py-2 card mb-3">
        <div class="row d-flex justify-content-center">
          <div class="card card-p bg-matchmaking">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bezier" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
              <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"/>
            </svg>
          </div>
        </div>
        <div class="row mt-4">
          <h4><b>Interact</b></h4>
          <small><b>Become a Premium Member & Start a Conversation Through Matchmaker Agent.</b></small>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid bg-image">
  <div class="container card mt-4 mb-4 rounded" style="background-color: black; opacity: 0.8;">
    <div class="row text-center my-4">
      <h3 class="match-header"><b>Matrimony Service with Millions of Success Stories</b></h3>
    </div>
    <div class="row mb-5" style="opacity: 2;">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <div class="row m-4 d-flex juctify-content-between">
              <div class="col"></div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://getethnic.com/wp-content/uploads/2020/05/ChicagoIndianPakistaniWeddingPhotographerMahaStudiosNapervilleIl_0003-1-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://aquila-style.com/wp-content/uploads/2019/12/muslim-wedding-1024x677.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="row m-4 d-flex juctify-content-between">
              <div class="col"></div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://getethnic.com/wp-content/uploads/2020/05/ChicagoIndianPakistaniWeddingPhotographerMahaStudiosNapervilleIl_0003-1-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://aquila-style.com/wp-content/uploads/2019/12/muslim-wedding-1024x677.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="row m-4 d-flex juctify-content-between">
              <div class="col"></div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://getethnic.com/wp-content/uploads/2020/05/ChicagoIndianPakistaniWeddingPhotographerMahaStudiosNapervilleIl_0003-1-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card m-2" style="width: 25rem;">
                <img src="https://aquila-style.com/wp-content/uploads/2019/12/muslim-wedding-1024x677.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Login Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <form #loginForm="ngForm" (submit)="login()" class="form-group">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Login Here</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row m-2">
            <div class="col-3 text-center">
              <label class="text-white" for="">Email</label>
            </div>
            <div class="col">
              <input type="email" name="email" [(ngModel)]="model.email" class="form-control">
            </div>
          </div>
          <div class="row m-2">
            <div class="col-3 text-center">
              <label class="text-white" for="">Password</label>
            </div>
            <div class="col">
              <input type="password" name="password" [(ngModel)]="model.password" class="form-control">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-outline-matchmaking">Login</button>
      </div>
    </div>
  </form>
  </div>
</div>